.navbar.navbar-inverse {
	input {
		background-color: rgba(0, 0, 0, 0);
		color: rgba(255, 255, 255, 0.8);
		border-color: rgba(255, 255, 255, 0.3);

		&::placeholder{
			color: rgba(255, 255, 255, 0.8);		
		}
	}

	.dropdown-toggle {
		background-color: rgba(0, 0, 0, 0);
		color: rgba(255, 255, 255, 0.8);
		border-color: rgba(255, 255, 255, 0.3);		
	}

	.navbar-brand {
	    font-size: 1rem;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-weight: 600;
	}  

	.navbar-toggler {
		font-size: 1rem;
	}  
}