.responsive-poster {
	display: block;
	width: 100%;
	position: relative;	
	height: 0;
	padding-bottom: 153.3742%;
	//overflow: hidden;
	&:hover {
		.responsive-poster-item:after {
			//opacity: 1;	
		}
	}
}

.responsive-poster-item:after {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;		
	background: rgba(255, 255, 255, 0.6);
	z-index: 20;
    content: '\A';
    opacity: 0;
    transition: all 0.35s;
}

.responsive-poster-item {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.movie-title {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5rem;
	min-height: 2.25rem;
}

a.movie-link {
	color: #333;	
	&:hover {
		color: #000;
	}
}

.movie-content {
	padding: 0.5rem;
	min-height: 9rem;
}

a.genre-link {
	font-size: .875rem;
	color: rgba(17, 0, 0, 0.6);
	&:hover {
		color: rgba(17, 0, 0, 1);
	}	
}

.card-footer {
	padding: .5rem;
}