.user-dropdown {
  position: absolute;
  right: 4rem;
  @media(min-width: 768px) {
    position: static;
  }

  .btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0);      

    border-radius: 50%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-color: transparent;

    &:focus {
      outline: 0;
      background-color: lighten($brand-inverse, 10%);
      border-color: transparent;
      box-shadow: none;
    }
  }

  .dropdown-menu {
    border-top: none;
    margin-top: .5rem;
    @media(min-width: 768px) {
      margin-top: 0;
    }    
  }

  .dropdown-item {
    color: rgba(255, 255, 255, 0.8);
    &:hover {
      color: rgba(255, 255, 255, 0.9);    
    }
  }
}

.login-link {
  white-space: nowrap;
}