@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import './scss/variables';
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import './components/Navbar/Navbar.scss';
@import './components/Spinner/Spinner.scss';
@import './components/UserDropdown/UserDropdown.scss';
@import './components/GenreDropdownMenu/GenreDropdownMenu.scss';
@import './components/MovieList/MovieList.scss';
@import './components/MovieDetailPage/MovieDetailPage.scss';
@import './components/Button/Button.scss';

.bg-smoke {
  background-color: #e8e8e8;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-300 {
  font-weight: 100;
}

.font-size-md {
  font-size: 1.125rem;
}

.font-size-base {
  font-size: 1rem;
}

.font-size-sm {
  font-size: .875rem;
}

.text-center-xs {
  @media(max-width: 768px){
    text-align: center;
  }
}